<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/yhuhg"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EchoBuy"
        tools:targetApi="31">
        <activity
            android:name=".testactivity"
            android:exported="false" />
        <activity
            android:name=".perfumecategory"
            android:exported="false" />
        <activity
            android:name=".womencategory"
            android:exported="false" />
        <activity
            android:name=".mencategory"
            android:exported="false" />
        <activity
            android:name=".listviewitemtoy"
            android:exported="false" />
        <activity
            android:name=".listviewitembag"
            android:exported="false" />
        <activity
            android:name=".listviewitemphone"
            android:exported="false" />
        <activity
            android:name=".listviewitemfurn"
            android:exported="false" />
        <activity
            android:name=".listviewitemwatch"
            android:exported="false" />
        <activity
            android:name=".listviewitemshoe"
            android:exported="false" />
        <activity
            android:name=".listviewitempant"
            android:exported="false" />
        <activity
            android:name=".listviewitem"
            android:exported="false" />
        <activity
            android:name=".splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".logo_activity"
            android:exported="false" />
        <activity
            android:name=".menupage_activity"
            android:exported="false"
            android:label="@string/title_activity_menupage"
            android:theme="@style/Theme.EchoBuy.NoActionBar" />
        <activity
            android:name=".loginactivity"
            android:exported="false" />
        <activity
            android:name=".Signup_activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>